@import "reset_style.scss";
@import "base/func";
@import "fonts/font";


@import "../css/bootstrap.min.css";
//@import "libs/slick-theme.scss";
@import "libs/slick.scss";

@import "components/delivery";
@import "components/contacts";
@import "components/reviews";
@import "components/footer";
@import "components/wheel";
@import "components/cart";




.tabs {
    overflow: hidden;
  }
  
  .tab-button {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
  }
  
  .tab-button:hover {
    background-color: #ddd;
  }
  
  .tab-content {
    display: none;
  }
  
  

