<section class="cart">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="cart__top-text">Колесо / Корзина заказов /</p>
            </div>
            <div class="col-12">
                <h2 class="cart__titles">Ваш заказ</h2>
            </div>
            <div class="col-12">
                <table class="cart__table">
                    <tbody>
                        <tr>
                            <td>Наименование</td>
                            <td id="cart__font">Цена</td>
                            <td>Количество</td>
                            <td id="cart__font">Сумма</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="cart__table_box">
                                <a href="">
                                    <img class="cart__table_img" src="img/cart/img-first.png" alt="">
                                </a>
                                <span class="cart__table_info">
                                    <a class="cart__table_name" href="#" target="_blank">Nokian Hakkapeliitta 5 SUV</a>
                                    <p class="cart__table_size">Типоразмер: 275/60 R17</p>
                                    <p class="cart__table_code">Код товара 15828</p>
                                </span>
                            </td>
                            <td>
                                <p class="cart__table_price">6423 р.</p>
                            </td>
                            <td>
                                <div class="cart__table_counter">
                                    <div class="cart__table_counter-decrement">-</div>
                                    <div class="cart__table_counter-number">4</div>
                                    <div class="cart__table_counter-increment">+</div>
                                </div>
                            </td>
                            <td>
                                <input type="text" value="25692 p." id="rezult-1">
                            </td>
                            <td>
                                <p class="cart__table_delete">удалить из корзины &times;</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="cart__table_box">
                                <a href="">
                                    <img class="cart__table_img" src="img/cart/img-last.png" alt="">
                                </a>
                                <span class="cart__table_info">
                                    <a class="cart__table_name" href="#" target="_blank">Allante 5070</a>
                                    <p class="cart__table_size">Типоразмер: 6.5 R16</p>
                                    <p class="cart__table_code">Код товара 15445</p>
                                </span>
                            </td>
                            <td>
                                <p class="cart__table_price">5758 р.</p>
                            </td>
                            <td>
                                <div class="cart__table_counter">
                                    <div class="cart__table_counter-decrement">-</div>
                                    <div class="cart__table_counter-number">4</div>
                                    <div class="cart__table_counter-increment">+</div>
                                </div>
                            </td>
                            <td>
                                <input type="text" value="23032 р." id="rezult-1">
                            </td>
                            <td>
                                <p class="cart__table_delete">удалить из корзины &times;</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="cart__table_rezult">
                                <a href=""><img src="img/cart/stroke.png" alt="">Продолжить покупки</a>
                            </td>
                            <td></td>
                            <td>Итого к оплате</td>
                            <td><input type="text" value="48724" id="all-rezult"></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>