<section class="contacts">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="contacts__top-text">Колесо / Контакты /</p>
            </div>
            <div class="col-12">
                <h2 class="contacts__titles">Контакты</h2>
            </div>
            <div class="col-12">
                <p class="contacts__text"><strong>Контактные телефоны:</strong></p>
            </div>
            <div class="col-12">
                <ul>
                    <li>
                        <p>+7 499 955-03-14</p>
                    </li>
                    <li>
                        <p>+7 499 272-05-88</p>
                    </li>
                    <li>
                        <p>+7 958 762-89-56 (What's App, Viber, Telegram)</p>
                    </li>
                    <li>
                        <a id="link" href="https://www.google.com/intl/uk/gmail/about/"
                            target="_blank">info@koleso.biz</a>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <p class="contacts__text"><strong>Рабочие время:</strong></p>
            </div>
            <div class="col-12">
                <p class="contacts__info">Понедельник - Пятница  10:00 - 17:00 <br>
                    Суббота  11:00-16:00 <br>
                    Воскресенье - выходной.</p>
            </div>
            <div class="col-12">
                <p class="contacts__text">Прием электронных заказов через сайт -
                    круглосуточно.</p>
            </div>
            <div class="col-12">
                <a href="https://web.telegram.org" target="_blank"><img class="contacts__img"
                        src="img/contacts/telegram.svg" alt="telegram"></a>
            </div>
            <div class="col-12">
                <h1 class="contacts__main_title">Напишите нам</h1>
            </div>
            <form class="contacts__form">
                <p>Все поля обязательны для заполнения</p>
                <div class="contacts__form_size d-md-flex">
                    <div class="col-sm-12 col-md-6">
                        <label for="name">Имя: <img class="contacts__form_img" src="img/contacts/form_img.svg"
                                alt=""></label>
                        <input type="text" id="name" name="name" required>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <label for="email">Email <img class="contacts__form_img" src="img/contacts/form_img.svg"
                                alt=""></label>
                        <input type="email" id="email" name="email" required>
                    </div>
                </div>
                <div class="contacts__form_size d-md-flex mt-3">
                    <div class="col-sm-12 col-md-6">
                        <label for="phone">Телефон <img class="contacts__form_img" src="img/contacts/form_img.svg"
                                alt=""></label>
                        <input type="tel" id="phone" name="phone" required>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <label for="subject">Тема сообщения <img class="contacts__form_img"
                                src="img/contacts/form_img.svg" alt=""></label>
                        <input type="text" id="subject" name="subject" required>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <label for="message">Сообщение <img class="contacts__form_img" src="img/contacts/form_img.svg"
                            alt=""></label>
                    <textarea id="message" name="message" required></textarea>
                </div>

                <button class="contacts__form_btn" type="submit">Отправить <img id="btn_img"
                        src="img/contacts/form-btn-stroke.png" alt=""></button>
            </form>
        </div>
    </div>
</section>