<section class="delivery">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="delivery__top-text">Колесо / Доставка, оплата, гарантии /</p>
            </div>
            <div class="col-12">
                <h2 class="delivery__titles">Доставка</h1>
            </div>
            <div class="col-12">
                <p class="delivery__text">Доставка по России бесплатная от заказа на 20000,00 рублей.</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Прямые поставки из КНР и стран Евросоюза</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Доставка в любой город России и СНГ по схеме дропшиппинга</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">В нашем интернет-магазине, Вы можете заказать изделия с доставкой в любую
                    точку Российской Федерации и СНГ.</p>
            </div>
            <div class="col-12">
                <p class="delivery__text"><span>ВЫГОДА ВСЕГДА В ЦЕНЕ!</span></p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Доставка:</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Для жителей других городов доставка осуществляется до ближайшего почтового
                    отделения, согласно указанного индекса.</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">НАШИ ПАРТНЕРЫ:</p>
            </div>
            <div class="col-12">
                <img src="img/delivery/ponyexpress.svg" alt="#">
                <img src="img/delivery/boxberry.svg" alt="#">
                <img src="img/delivery/cdek.svg" alt="#">
                <img src="img/delivery/dpd.svg" alt="#">
            </div>
            <div class="col-12">
                <div class="delivery__line"></div>
            </div>
            <div class="col-12">
                <h2 class="delivery__titles">Стоимость доставки:</h1>
            </div>
            <div class="col-12">
                <p class="delivery__text">Если сумма заказа менее 20000 руб. - стоимость доставки составит 500 руб. При
                    сумме заказа более 20000 рублей, доставка для Вас будет бесплатной. При весе заказа более 20 кг,
                    посылка
                    разбивается на два отправления, по предварительному согласованию с заказчиком.</p>
            </div>
            <div class="col-12">
                <div class="delivery__line"></div>
            </div>
            <div class="col-12">
                <h2 class="delivery__titles">Способы оплаты</h1>
            </div>
            <div class="col-12">
                <p class="delivery__text"><span>Оплата осуществляется онлайн на сайте интернет магазина Koleso.biz через
                        сервис PrivatePayments.</span></p>
            </div>
            <div class="col-12">
                <span><img src="img/delivery/alfabank.svg" alt="#"></span>
            </div>
            <div class="col-12">
                <p class="delivery__text">К оплате принимаются карты VISA, MasterCard, Платежная система «Мир».</p>
            </div>
            <div class="col-12">
                <span>
                    <img src="img/delivery/pay.svg" alt="#">
                </span>
            </div>
            <div class="col-12">
                <p class="delivery__text">Услуга оплаты через интернет осуществляется в соответствии с Правилами
                    международных платежных систем Visa, MasterCard и Платежная система «Мир» на принципах соблюдения
                    конфиденциальности и безопасности совершения платежа, для чего используются самые современные методы
                    проверки, шифрования и передачи данных по закрытым каналам связи. Ввод
                    данных банковской карты осуществляется на защищенной платежной странице АО «АЛЬФА-БАНК».</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">На странице для ввода данных банковской карты потребуется ввести номер карты,
                    имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA или CVC2 для
                    MasterCard). Все необходимые данные пропечатаны на самой карте.</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне
                    карты.</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Далее вы будете перенаправлены на страницу Вашего банка для ввода 3DSecure
                    кода, который придет к Вам в СМС. Если 3DSecure код к Вам не пришел, то следует обратится в банк
                    выдавший
                    Вам карту.</p>
            </div>
            <div class="col-12">
                <span>
                    <img src="img/delivery/pay2.svg" alt="#">
                </span>
            </div>
            <div class="col-12">
                <p class="delivery__text">Случаи отказа в совершении платежа:</p>
            </div>
            <div class="col-12">
                <ul>
                    <li>
                        <img src="img/delivery/arrow.png" alt="">
                        <p>банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать,
                            обратившись в Ваш Банк;</p>
                    </li>
                    <li>
                        <img src="img/delivery/arrow.png" alt="">
                        <p>недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на
                            банковской карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту;</p>
                    </li>
                    <li>
                        <img src="img/delivery/arrow.png" alt="">
                        <p>данные банковской карты введены неверно;</p>
                    </li>
                    <li>
                        <img src="img/delivery/arrow.png" alt="">
                        <p>истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой
                            стороне карты (это месяц и год, до которого действительна карта). Подробнее о сроке действия
                            карты Вы можете узнать, обратившись в банк, выпустивший банковскую карту;</p>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <p class="delivery__text">По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с
                    работой сайта, Вы можете обращаться по следующим телефонам указанным на сайте.

                </p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail,
                    номер банковской карты) является конфиденциальной и не подлежит разглашению. Данные вашей кредитной
                    карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.</p>
            </div>
            <div class="col-12">
                <div class="delivery__line"></div>
            </div>
            <div class="col-12">
                <h2 class="delivery__titles">Срок доставки</h1>
            </div>
            <div class="col-12">
                <p class="delivery__text">Отправка производится в течении 3 рабочих дней, после подтверждения оплаты и
                    полной комплектации Вашего заказа.</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Срок доставки составляет от 10 до 18 дней. (в среднем доставка до Москвы
                    занимает 14 дней | Владивосток 22 дня)
                    В случае если заказанного Вами товара нет в наличии, срок комплектации будет увеличен, в среднем, на
                    7 рабочих дней, для доставки изделия из завода-изготовителя. (по согласованию с покупателем.)
                </p>
            </div>
            <div class="col-12">
                <div class="delivery__line"></div>
            </div>
            <div class="col-12">
                <h2 class="delivery__titles">Возврат</h1>
            </div>
            <div class="col-12">
                <p class="delivery__text">При оплате картами возврат наличными денежными средствами не допускается.
                    Порядок возврата регулируется правилами международных платежных систем.</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Процедура возврата товара регламентируется статьей 26.1 федерального закона «О
                    защите прав потребителей».
                </p>
            </div>
            <div class="col-12">
                <ul>
                    <li>
                        <img src="img/delivery/arrow.png" alt="">
                        <p>Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи
                            товара - в течение 30 дней;</p>
                    </li>
                    <li>
                        <img src="img/delivery/arrow.png" alt="">
                        <p>Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид,
                            потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного
                            товара;</p>
                    </li>
                    <li>
                        <img src="img/delivery/arrow.png" alt="">
                        <p>Потребитель не вправе отказаться от товара надлежащего качества, имеющего
                            индивидуально-определенные свойства, если указанный товар может быть использован
                            исключительно приобретающим его человеком;</p>
                    </li>
                    <li>
                        <img src="img/delivery/arrow.png" alt="">
                        <p>При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную
                            потребителем по договору, за исключением расходов продавца на доставку от потребителя
                            возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем
                            соответствующего требования;</p>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <p class="delivery__text">Для возврата денежных средств на банковскую карту необходимо заполнить
                    «Заявление о возврате денежных средств», которое высылается по требованию компанией на электронный
                    адрес и оправить его вместе с приложением копии паспорта по адресу <a id="link" target="_blank"
                        href="https://www.google.com/intl/uk/gmail/about/">info@koleso.biz</a>
                </p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Возврат денежных средств будет осуществлен на банковскую карту в течение 21
                    (двадцати одного) рабочего дня со дня получения «Заявление о возврате денежных средств» Компанией.
                </p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Для возврата денежных средств по операциям проведенными с ошибками необходимо
                    обратиться с письменным заявлением и приложением копии паспорта и чеков/квитанций, подтверждающих
                    ошибочное списание. Данное заявление необходимо направить по адресу <a id="link" target="_blank"
                        href="https://www.google.com/intl/uk/gmail/about/">info@koleso.biz</a>


                </p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Сумма возврата будет равняться сумме покупки. Срок рассмотрения Заявления и
                    возврата денежных средств начинает исчисляться с момента получения Компанией Заявления и
                    рассчитывается в рабочих днях без учета праздников/выходных дней.
                </p>
            </div>
        </div>
    </div>


    <!-- Блок з дисками та шинами (повторюється на всіх сторінках) -->



    <div class="container">
        <div class="row wheel">
            <div class="pe-sm-0 col-sm-6 col-lg-3 pe-lg-0">
                <a href="#" class="card">
                    <img src="img/delivery/disks.svg" alt="">
                    <div class="card-content">
                        <h3>ДИСКИ НА <br> АВТО</h3>
                        <span class="btn">Подобрать</span>
                    </div>
                </a>
            </div>
            <div class="ps-sm-0 col-sm-6 col-lg-3 p-lg-0">
                <a href="#" class="card">
                    <img src="img/delivery/shiny-litni.svg" alt="">
                    <div class="card-content">
                        <h3>ЛЕТНИЕ <br>
                            ШИНЫ</h3>
                        <span class="btn">Подобрать</span>
                    </div>
                </a>
            </div>
            <div class="pe-sm-0 col-sm-6 col-lg-3 p-lg-0">
                <a href="#" class="card">
                    <img src="img/delivery/shiny-vses.svg" alt="">
                    <div class="card-content">
                        <h3>ВСЕСЕЗОННЫЕ <br>
                            ШИНЫ</h3>
                        <span class="btn">Подобрать</span>
                    </div>
                </a>
            </div>
            <div class="ps-sm-0 col-sm-6 col-lg-3 ps-lg-0">
                <a href="#" class="card">
                    <img src="img/delivery/shiny-zum.svg" alt="">
                    <div class="card-content">
                        <h3>ЗИМНЯЯ <br>
                            РЕЗИНА</h3>
                        <span class="btn">Подобрать</span>
                    </div>
                </a>
            </div>
            <div class="navigation">
                <div class="column">
                    <a href="#" class="item">
                        <img src="img/delivery/arrow.png" alt="Arrow">
                        Каталог товаров
                    </a>
                    <a href="#" class="item">
                        <img src="img/delivery/arrow.png" alt="Arrow">
                        Летние шины
                    </a>
                    <a href="#" class="item">
                        <img src="img/delivery/arrow.png" alt="Arrow">
                        Карта сайта
                    </a>
                    <a href="#" class="item">
                        <img src="img/delivery/arrow.png" alt="Arrow">
                        О нас
                    </a>
                </div>

                <div class="column">
                    <a href="#" class="item">
                        <img src="img/delivery/arrow.png" alt="Arrow">
                        Зимняя резина
                    </a>
                    <a href="#" class="item">
                        <img src="img/delivery/arrow.png" alt="Arrow">
                        Всезесонные шины
                    </a>
                    <a href="#" class="item">
                        <img src="img/delivery/arrow.png" alt="Arrow">
                        Доставка, оплата, гарантии
                    </a>
                    <a href="#" class="item">
                        <img src="img/delivery/arrow.png" alt="Arrow">
                        Отзывы клиентов
                    </a>
                </div>

                <div class="column">
                    <a href="#" class="item">
                        <img src="img/delivery/arrow.png" alt="Arrow">
                        Диски
                    </a>
                    <a href="#" class="item">
                        <img src="img/delivery/arrow.png" alt="Arrow">
                        Контакты
                    </a>
                    <a href="#" class="item">
                        <img src="img/delivery/arrow.png" alt="Arrow">
                        Пользовательское соглашение
                    </a>
                </div>

                <div class="information">
                    <div class="information__tel">
                        <div class="information__tel_img"></div>
                        <div class="information__tel_info">
                            <p>Заказ по телефону:</p>
                            <a href="tel: +7 499 955-03-14">+7 499 955-03-14 <br>
                                +7 499 272-05-88
                            </a>
                        </div>
                    </div>
                    <div class="information__mail">
                        <div class="information__mail_img"></div>
                        <div class="information__mail_info">
                            <p>Электронная почта:</p>
                            <a href="https://www.google.com/intl/uk/gmail/about/">info@koleso.biz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>