<section class="delivery">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="delivery__top-text">Колесо / Доставка, оплата, гарантии /</p>
            </div>
            <div class="col-12">
                <h2 class="delivery__titles">Доставка</h1>
            </div>
            <div class="col-12">
                <p class="delivery__text">Доставка по России бесплатная от заказа на 20000,00 рублей.</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Прямые поставки из КНР и стран Евросоюза</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Доставка в любой город России и СНГ по схеме дропшиппинга</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">В нашем интернет-магазине, Вы можете заказать изделия с доставкой в любую
                    точку Российской Федерации и СНГ.</p>
            </div>
            <div class="col-12">
                <p class="delivery__text"><span>ВЫГОДА ВСЕГДА В ЦЕНЕ!</span></p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Доставка:</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Для жителей других городов доставка осуществляется до ближайшего почтового
                    отделения, согласно указанного индекса.</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">НАШИ ПАРТНЕРЫ:</p>
            </div>
            <div class="col-12">
                <img src="img/delivery/ponyexpress.svg" alt="#">
                <img src="img/delivery/boxberry.svg" alt="#">
                <img src="img/delivery/cdek.svg" alt="#">
                <img src="img/delivery/dpd.svg" alt="#">
            </div>
            <div class="col-12">
                <div class="delivery__line"></div>
            </div>
            <div class="col-12">
                <h2 class="delivery__titles">Стоимость доставки:</h1>
            </div>
            <div class="col-12">
                <p class="delivery__text">Если сумма заказа менее 20000 руб. - стоимость доставки составит 500 руб. При
                    сумме заказа более 20000 рублей, доставка для Вас будет бесплатной. При весе заказа более 20 кг,
                    посылка
                    разбивается на два отправления, по предварительному согласованию с заказчиком.</p>
            </div>
            <div class="col-12">
                <div class="delivery__line"></div>
            </div>
            <div class="col-12">
                <h2 class="delivery__titles">Способы оплаты</h1>
            </div>
            <div class="col-12">
                <p class="delivery__text"><span>Оплата осуществляется онлайн на сайте интернет магазина Koleso.biz через
                        сервис PrivatePayments.</span></p>
            </div>
            <div class="col-12">
                <span><img src="img/delivery/alfabank.svg" alt="#"></span>
            </div>
            <div class="col-12">
                <p class="delivery__text">К оплате принимаются карты VISA, MasterCard, Платежная система «Мир».</p>
            </div>
            <div class="col-12">
                <span>
                <img src="img/delivery/pay.svg" alt="#">
                </span>
            </div>
            <div class="col-12">
                <p class="delivery__text">Услуга оплаты через интернет осуществляется в соответствии с Правилами
                    международных платежных систем Visa, MasterCard и Платежная система «Мир» на принципах соблюдения
                    конфиденциальности и безопасности совершения платежа, для чего используются самые современные методы
                    проверки, шифрования и передачи данных по закрытым каналам связи. Ввод
                    данных банковской карты осуществляется на защищенной платежной странице АО «АЛЬФА-БАНК».</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">На странице для ввода данных банковской карты потребуется ввести номер карты,
                    имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA или CVC2 для
                    MasterCard). Все необходимые данные пропечатаны на самой карте.</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне
                    карты.</p>
            </div>
            <div class="col-12">
                <p class="delivery__text">Далее вы будете перенаправлены на страницу Вашего банка для ввода 3DSecure
                    кода, который придет к Вам в СМС. Если 3DSecure код к Вам не пришел, то следует обратится в банк
                    выдавший
                    Вам карту.</p>
            </div>
            <div class="col-12">
                <span>
                <img src="img/delivery/pay2.svg" alt="#">
                </span>
            </div>
            <div class="col-12">
                <p class="delivery__text">Случаи отказа в совершении платежа:</p>
            </div>
            <!-- <img id="srs" src="img/delivery/arrow.png" alt="#"> -->
            <div class="col-12">
                <ul>
                    <li>
                        <img src="img/delivery/arrow.png" alt="">
                        <p>банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш Банк;</p>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</section>