<section class="favorites">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="favorites__top-text">Колесо / Желания /</p>
            </div>
            <div class="col-12">
                <h2 class="favorites__titles">Избранное 1 товара</h2>
            </div>
            <div class="col-12">
                <a class="favorites__clean-link" href="#">Очистить список</a>
            </div>
            <div class="col-md-d-block col-lg-12 d-flex">
                <div class="col-md-12 col-lg-9">
                    <div class="favorites__info">
                        <ul>
                            <li>Notice</li>
                            <li>: Undefined variable: grup in</li>
                            <li>/home/pn495190/koleso.world/www/modules/tvi.php</li>
                            <li>on line</li>
                            <li>27</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 text-center">
                    <a href="#" class="favorites__card">
                        <div class="favorites__card_img"></div>
                        <a class="favorites__card_title" href="#">Dotz Revvo</a>
                        <p class="favorites__card_text mt-2"><strong>Notice:</strong> Undefined variable: grup in
                            <strong>/home/pn495190/koleso.world/www/modules/tvi.php</strong> on
                            line <strong>64</strong></p>
                        <p class="favorites__card_text"><strong>Notice:</strong> Undefined index: width in
                            <strong>/home/pn495190/koleso.world/www/modules/tvi.php</strong> on line
                            <strong>65</strong>
                        </p>
                        <p class="favorites__card_text"><strong>Notice:</strong> Undefined index: radiys in
                            <strong>/home/pn495190/koleso.world/www/modules/tvi.php</strong> on
                            line <strong>65</strong></p>
                        <p class="favorites__card_brand"><span>>Типоразмер:</span>; Бренд DOTZ</p>
                        <p class="favorites__card_price">0 p</p>
                        <a href="#" target="_blank" class="favorites__card_btn">Выбрать размер</a>
                        <p class="favorites__card_availability">Есть в наличии</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>