<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer__line"></div>
            </div>
            <div class="col-lg-6">
                <div class="footer__text">© 2014 - 2023. Колесо - Все права защищены.</div>
            </div>
            <div class="col-lg-6">
                <div class="footer__image">
                    <a class="footer__image_link-telegram" target="_blank" href="https://web.telegram.org">
                        <img src="img/footer/telegram.svg" alt="">
                    </a>
                    <img class="footer__image_last" src="img/footer/mastercard.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</footer> -->