<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer__line"></div>
            </div>
            <div class="col-12">
                <div class="footer__title">
                    <p class="footer__title_text">© 2014 - 2023. Колесо - Все права защищены.</p>
                    <span><a class="footer__title_link-telegram" target="_blank" href="https://web.telegram.org">
                            <img src="img/delivery/telegram.svg" alt="">
                        </a>
                        <img src="img/delivery/mastercard.svg" alt="">
                    </span>
                </div>
            </div>

        </div>
    </div>
</footer>


<!-- <div class="col-3">
                <ul>
                    <li><a href="">
                            <img src="img/delivery/arrow.png" alt="">
                            <span>Каталог товаров</span>
                        </a>
                    </li>
                    <li><a href="">
                        <img src="img/delivery/arrow.png" alt="">
                            <span>Летние шины</span>
                    </a></li>
                    <li><a href="">
                        <img src="img/delivery/arrow.png" alt="">
                            <span>Карта сайта</span>
                    </a></li>
                    <li><a href="">
                        <img src="img/delivery/arrow.png" alt="">
                            <span>О нас</span>
                    </a></li>
                </ul>
            </div> -->