<footer class="footer">
    <div class="container d-flex">
        <div id="footer__menu-list">
            <div class="footer__menu" data-index="1">
                <h2 class="footer__menu_title">Каталог</h2>
                <ul>
                    <li><a href="#">Шины</a></li>
                    <li><a href="#">Диски</a></li>
                    <li><a href="#">Грузовые шины</a></li>
                    <li><a href="#">Подбор по авто</a></li>
                    <li><a href="#">Монтаж в подарок</a></li>
                    <li><a href="#">Trade-In</a></li>
                    <li><a href="#">Кредит</a></li>
                    <li><a href="#">Акции</a></li>
                </ul>
            </div>
            <div class="footer__menu" data-index="2">
                <h2 class="footer__menu_title">Покупателю</h2>
                <ul id="footer__menu_column">
                    <li><a href="#">Доставка в регионы</a></li>
                    <li><a href="#">О магазине</a></li>
                    <li><a href="#">Покупателям</a></li>
                    <li><a href="#">Оплата и доставка</a></li>
                    <li><a href="#">Политики обработки персональных данных</a></li>
                    <li><a href="#">Публичная оферта</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">Тесты шин</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Карта шин</a></li>
                    <li><a href="#">Карта грузовых шин</a></li>
                    <li><a href="#">Карта дисков</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__contacts">
            <h2 class="footer__contacts_title">Контактная информация</h2>
            <ul>
                <li class="footer__contacts_address"><img src="img/footer/address.png" alt=""> г. Красноярск, 2-я
                    Брянская, 12, стр. 9</li>
                <li class="footer__contacts_phone">
                    <div class="footer__contacts_phone-img"></div>
                    <span>
                        <a class="footer__contacts_phone-text" href="tel:+7 (391) 2-955-377">+7 (391) 2-955-377</a>
                        <a class="footer__contacts_phone-text" href="tel:+7 (904) 895-53-77"> +7
                            (904) 895-53-77</a>
                    </span>
                </li>
                <li class="footer__contacts_schedule">
                    <div class="footer__contacts_schedule-img"></div>
                    <a href="mailto:mail@shopkolesa.ru">mail@shopkolesa.ru</a>
                </li>
            </ul>
            <div class="footer__contacts_payment">
                <div class="footer__contacts_payment-block"><img src="img/footer/visa.png" alt="visa"></div>
                <div class="footer__contacts_payment-block"><img src="img/footer/mastercard.png" alt="mastercard"></div>
                <div class="footer__contacts_payment-block"><img src="img/footer/world.png" alt="world"></div>
                <div class="footer__contacts_payment-block"><img src="img/footer/jcb.png" alt="jcb"></div>
            </div>
        </div>
        <div class="footer__info">
            <div class="footer__info_social">
                <p>Оставайтесь на связи</p>
                <a href="https://vk.com/shopkolesa"><img src="img/footer/vk.png" alt=""></span></a>
            </div>
            <div class="footer__info_copyright">
                © 2023 интернет-магазин Интеркар-Колеса. <br>
                Вся представленная на сайте информация, в том числе и цены на
                товары носит справочный характер и не является публичной офертой.
            </div>
            <div class="footer__info_creator">
                <a href="#">Политика конфиденциальности</a>
                <br>
                <a href="#">Создание и продвижение сайта ITB</a>
            </div>
        </div>
    </div>
</footer>