<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="header-top__info">
                    <a href="#"><img src="img/header/address.png" alt=""></a>
                    <div class="header-top__info_menu">
                        <ul>
                            <li><a href="#">Доставка в регионы</a></li>
                            <li><a href="#">О магазине</a></li>
                            <li><a href="#">Покупателям</a></li>
                            <li><a href="#">Оплата и доставка</a></li>
                            <li><a href="#">Статьи</a></li>
                            <li><a href="#">Тесты шин</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                    <span class="header-top__login">
                        <img src="img/header/login-img.png" alt="">
                        <a href="#"><strong>Вход / Регистрация</strong></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-main">
        <div class="container">
            <div id="header-main__position">
                <div class="header-main__logo">
                    <a href="#"><img src="img/header/header_logo.png" alt=""></a>
                </div>
                <div class="header-main__info">
                    <span>
                        <img src="img/header/address.png" alt="address">
                        <p>г. Красноярск, 2-я Брянская, 12, стр. 9</p>
                    </span>
                    <span>
                        <img src="img/header/schedule.png" alt="schedule">
                        <p>Пн.-Пт. 10:00 - 19.00, Сб. 10:00 - 18:00, Вс. выходной</p>
                    </span>
                </div>
                <div class="header-main__phone">
                    <img class="header-main__phone_main-img" src="img/header/phone.png" alt="phone">
                    <strong><a href="tel:+7 (391) 2-955-377">+7 (391) 2-955-377</a>
                        <a href="tel:+7 (904) 895-53-77">+7 (904) 895-53-77</a></strong>
                    <a href="viber://add?number=79048955377"><img class="header-main__phone_img"
                            src="img/header/viber.png" alt=""></a>
                    <a href="https://wa.me/79048955377"><img class="header-main__phone_img"
                            src="img/header/whatsapp.png" alt=""></a>
                    <a href="tg://resolve?domain=intercar_kolesa"><img class="header-main__phone_img"
                            src="img/header/telegram.png" alt=""></a>
                </div>
                <a class="header-main__cart" href="#">
                    <div class="header-main__cart_count">
                        <span>0</span>
                    </div>
                    <div class="header-main__cart_text">
                        <p>Корзина</p>
                        <p class="header-main__cart_text-price"><strong>0 руб.</strong></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">

            <div class="row">
                <div class="header-bottom__menu">
                    <ul>
                        <li><a href="#">Шины</a></li>
                        <li><a href="#">Диски</a></li>
                        <li><a href="#">Грузовые шины</a></li>
                        <li><a href="#">Подбор по авто</a></li>
                        <li><a href="#">Монтаж в подарок</a></li>
                        <li class="has-dropdown">
                            <a href="#">Рассрочка <img class="header-bottom__menu_stroke" src="img/header/stroke.png"
                                    alt=""></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Почта-Банк (кредит)</a></li>
                                <li><a href="#">Тинькофф (рассрочка или кредит)</a></li>
                                <li><a href="#">Оплата покупок "Долями"</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><img class="me-2" src="img/header/sale-icon.png" alt="">Акции</a></li>
                    </ul>
                    <a href="" class="header-bottom__search"><img src="img/header/search.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</header>