<header>
    <div class="container">
        <div class="row">
            <div class="col-12 header">
                <div class="header__logo">
                    <a href="#" target="_blank"><img src="img/header.png" alt=""></a>
                    <p>OSTAP</p>
                </div>
                <div class="header__info">
                    <ul>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">WHAT I DO</a></li>
                        <li><a href="#">WORK</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>

            <nav class="nav-bar">
          
                <ul class="nav-menu">
                  <li class="nav-item">
                    <a href="#home" class="nav-link">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a href="#menu" class="nav-link">WHAT I DO</a>
                  </li>
                  <li class="nav-item">
                    <a href="#about" class="nav-link">WORK</a>
                  </li>
                  <li class="nav-item">
                    <a href="#contacts" class="nav-link">CONTACT</a>
                  </li>
                </ul>
          
                <div class="hamburger">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
                </div>
              </nav>
            </div>
        </div>
    </div>
</header>