<section class="reviews">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="reviews__top-text">Колесо / Отзывы клиентов /</p>
            </div>
            <div class="col-12">
                <h2 class="reviews__main-title">Отзывы клиентов</h2>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Рустам, 22 февраля 2023</h4>
                <p  class="reviews__description">Пришла резина через 10 дней, отправили в том же
                    размер как и просил, но шипы не был вариант
                    вкручивать, отказался на СДЭКЕ, и деньги вернули
                    на 4й день, заказал снова и приехала та что нужна,
                    но через 11 дней!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Арсен, 4 марта 2023</h4>
                <p  class="reviews__description">Заказал, оплптил на карту, приехала на 2 дня
                    раньше чем обещали! Спасибо! Еще закажу диски!
                    Качество ТОП!!!!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Светлана, 10 апереля 2023</h4>
                <p  class="reviews__description">Заказала на Ниссан Кашкай резину ТОЙО, и
                    дополнительно оплатила адресную доставку в СДЭК,
                    привезли прям под дом!!! Спасибо, и да при оплате с
                    карты на карту дали скидку 7%</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Арсен, 4 марта 2023</h4>
                <p  class="reviews__description">Заказал, оплптил на карту, приехала на 2 дня
                    раньше чем обещали! Спасибо! Еще закажу диски!
                    Качество ТОП!!!!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Арсен, 4 марта 2023</h4>
                <p  class="reviews__description">Заказал, оплптил на карту, приехала на 2 дня
                    раньше чем обещали! Спасибо! Еще закажу диски!
                    Качество ТОП!!!!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Арсен, 4 марта 2023</h4>
                <p  class="reviews__description">Заказал, оплптил на карту, приехала на 2 дня
                    раньше чем обещали! Спасибо! Еще закажу диски!
                    Качество ТОП!!!!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Арсен, 4 марта 2023</h4>
                <p  class="reviews__description">Заказал, оплптил на карту, приехала на 2 дня
                    раньше чем обещали! Спасибо! Еще закажу диски!
                    Качество ТОП!!!!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Арсен, 4 марта 2023</h4>
                <p  class="reviews__description">Заказал, оплптил на карту, приехала на 2 дня
                    раньше чем обещали! Спасибо! Еще закажу диски!
                    Качество ТОП!!!!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Арсен, 4 марта 2023</h4>
                <p  class="reviews__description">Заказал, оплптил на карту, приехала на 2 дня
                    раньше чем обещали! Спасибо! Еще закажу диски!
                    Качество ТОП!!!!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Арсен, 4 марта 2023</h4>
                <p  class="reviews__description">Заказал, оплптил на карту, приехала на 2 дня
                    раньше чем обещали! Спасибо! Еще закажу диски!
                    Качество ТОП!!!!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Арсен, 4 марта 2023</h4>
                <p  class="reviews__description">Заказал, оплптил на карту, приехала на 2 дня
                    раньше чем обещали! Спасибо! Еще закажу диски!
                    Качество ТОП!!!!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Арсен, 4 марта 2023</h4>
                <p  class="reviews__description">Заказал, оплптил на карту, приехала на 2 дня
                    раньше чем обещали! Спасибо! Еще закажу диски!
                    Качество ТОП!!!!</p>
                <div class="reviews__line"></div>
            </div>
        </div>
    </div>
</section>