<section class="reviews">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="reviews__top-text">Колесо / Отзывы клиентов /</p>
            </div>
            <div class="col-12">
                <h2 class="reviews__main-title">Отзывы клиентов</h2>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Рустам, 22 февраля 2023</h4>
                <p class="reviews__description">Пришла резина через 10 дней, отправили в том же
                    размер как и просил, но шипы не был вариант
                    вкручивать, отказался на СДЭКЕ, и деньги вернули
                    на 4й день, заказал снова и приехала та что нужна,
                    но через 11 дней!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Арсен, 4 марта 2023</h4>
                <p class="reviews__description">Заказал, оплптил на карту, приехала на 2 дня
                    раньше чем обещали! Спасибо! Еще закажу диски!
                    Качество ТОП!!!!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Светлана, 10 апереля 2023</h4>
                <p class="reviews__description">Заказала на Ниссан Кашкай резину ТОЙО, и
                    дополнительно оплатила адресную доставку в СДЭК,
                    привезли прям под дом!!! Спасибо, и да при оплате с
                    карты на карту дали скидку 7%</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Сослан, 18 мая 2023</h4>
                <p class="reviews__description">
                    Доставили в СДЭК в Грозный, вовремя и даже подарили 3 ароматизатора в авто! Спасибо!
                </p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Вера, 20 мая 2023</h4>
                <p class="reviews__description">в Краснодар привезли с задержкой на два дня, но все получила и в подарок
                    были ароматизаторы какие-то корейские, но запах не мой! но спасибо!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Антон, 25 апреля 2022</h4>
                <p class="reviews__description">СДЭК задержал посылку на 4 дня, но менеджер преложил максиммум усилий
                    для поиска моих колёс и дисков и мне все дошло! Спасибо за возможность оплаты с карты на карту,
                    удобно, быстро и качественно! Рекомендую</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Павел, 11 июля 2022</h4>
                <p class="reviews__description">Заказывал CONTINENTAL, приехали именно они и в нужном размере, спасибо
                    за доп. скидку, оплачяивал на карту, резину у них беру второй год! рекомендую!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Ольга, 20 октября 2022</h4>
                <p class="reviews__description">Заказала зимнюю резину TOYO, пришла с задержкой на 3 дня, но новая и
                    качесственная, при оплате с карты на карту сделали скидку +7%! Спасибо</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Мария, 10 сентября 2021</h4>
                <p class="reviews__description">Колёсико прикатилось вовремя, спасибо менеджеру за подбор и
                    компетентность.</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title"> Андрей, 03 марта 2020</h4>
                <p class="reviews__description">Все пришло но с задержкой на один день, прошу прощение что ругался на
                    менеджера, но поймите я просто переживал что меня обманули, так как платил просто с карты на карту!
                    Резина новая, как покажет себя в эксплуатации сообщу! Спасибо!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Дмитрий, 12 февраля 2020</h4>
                <p class="reviews__description">заказывал по телефону резину на лето, порекомендовали гиславед урбан
                    спид 2, в городе не было, предложили доставку почтой России по предоплате чтоб было дешевле, почитал
                    отзывы, компания не первый год на рынке, кинул деньги, 23 дня и забрал резину с отделения почты,
                    глянул - отличная резина за свои деньги, летом не пожалею уверен на 100%</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Александр, 06 января 2020</h4>
                <p class="reviews__description">Большой выбор резины. Рекомендую.</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Sergey, 02 января 2020</h4>
                <p class="reviews__description">Заказывал Goodyear UltraGrip 9+, R14, уже второй месяц ездят, не шумят,
                    серьёзной непогоды не было, поэтому что-то рано говорить. Потом отзыв добавлю, а пока доволен.</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Марина, 28 декабря 2019</h4>
                <p class="reviews__description">Покупали шини, все на лучшем уровне и качество и обслуживание</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Дмитрий, 20 декабря 2019</h4>
                <p class="reviews__description">Всё хорошо. Хороший магазин, хорошее обслуживание: удобно, понятно,
                    спокойно, корректно, вежливо) Удачи!</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Антон, 11 декабря 2019</h4>
                <p class="reviews__description">Хороший магазин! Специалисты по телефону помогут с выбором хороших шин.
                    Большой выбор, обширная ценовая политика, удобная доставка</p>
                <div class="reviews__line"></div>
            </div>
            <div class="col-12">
                <h4 class="reviews__title">Kamilla, 02 декабря 2019</h4>
                <p class="reviews__description">Качественная резина на мою машинку</p>
            </div>
        </div>
    </div>
</section>