<!-- Блок з дисками та шинами (повторюється на всіх сторінках) -->



<div class="container">
    <div class="row wheel">
        <div class="pe-sm-0 col-sm-6 col-lg-3 pe-lg-0">
            <a href="#" class="card">
                <img src="img/wheel/disks.svg" alt="">
                <div class="card-content">
                    <h3>ДИСКИ НА <br> АВТО</h3>
                    <span class="btn">Подобрать</span>
                </div>
            </a>
        </div>
        <div class="ps-sm-0 col-sm-6 col-lg-3 p-lg-0">
            <a href="#" class="card">
                <img class="card__img" src="img/wheel/shiny-litni.svg" alt="">
                <div class="card-content">
                    <h3>ЛЕТНИЕ <br>
                        ШИНЫ</h3>
                    <span class="btn">Подобрать</span>
                </div>
            </a>
        </div>
        <div class="pe-sm-0 col-sm-6 col-lg-3 p-lg-0">
            <a href="#" class="card">
                <img src="img/wheel/shiny-vses.svg" alt="">
                <div class="card-content">
                    <h3>ВСЕСЕЗОННЫЕ <br>
                        ШИНЫ</h3>
                    <span class="btn">Подобрать</span>
                </div>
            </a>
        </div>
        <div class="ps-sm-0 col-sm-6 col-lg-3 ps-lg-0">
            <a href="#" class="card">
                <img src="img/wheel/shiny-zum.svg" alt="">
                <div class="card-content">
                    <h3>ЗИМНЯЯ <br>
                        РЕЗИНА</h3>
                    <span class="btn">Подобрать</span>
                </div>
            </a>
        </div>
        <div class="navigation">
            <div class="column">
                <a href="#" class="item">
                    <img src="img/wheel/arrow.png" alt="Arrow">
                    Каталог товаров
                </a>
                <a href="#" class="item">
                    <img src="img/wheel/arrow.png" alt="Arrow">
                    Летние шины
                </a>
                <a href="#" class="item">
                    <img src="img/wheel/arrow.png" alt="Arrow">
                    Карта сайта
                </a>
                <a href="#" class="item">
                    <img src="img/wheel/arrow.png" alt="Arrow">
                    О нас
                </a>
            </div>

            <div class="column">
                <a href="#" class="item">
                    <img src="img/wheel/arrow.png" alt="Arrow">
                    Зимняя резина
                </a>
                <a href="#" class="item">
                    <img src="img/wheel/arrow.png" alt="Arrow">
                    Всезесонные шины
                </a>
                <a href="#" class="item">
                    <img src="img/wheel/arrow.png" alt="Arrow">
                    Доставка, оплата, гарантии
                </a>
                <a href="#" class="item">
                    <img src="img/wheel/arrow.png" alt="Arrow">
                    Отзывы клиентов
                </a>
            </div>

            <div class="column">
                <a href="#" class="item">
                    <img src="img/wheel/arrow.png" alt="Arrow">
                    Диски
                </a>
                <a href="#" class="item">
                    <img src="img/wheel/arrow.png" alt="Arrow">
                    Контакты
                </a>
                <a href="#" class="item">
                    <img src="img/wheel/arrow.png" alt="Arrow">
                    Пользовательское соглашение
                </a>
            </div>

            <div class="information">
                <div class="information__tel">
                    <div class="information__tel_img"></div>
                    <div class="information__tel_info">
                        <p>Заказ по телефону:</p>
                        <a href="tel: +7 499 955-03-14">+7 499 955-03-14 <br>
                            +7 499 272-05-88
                        </a>
                    </div>
                </div>
                <div class="information__mail">
                    <div class="information__mail_img"></div>
                    <div class="information__mail_info">
                        <p>Электронная почта:</p>
                        <a target="_blank" href="https://www.google.com/intl/uk/gmail/about/">info@koleso.biz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>