.delivery {
    * {
        margin: 0;
    }

    &__titles {
        font-size: 32px;
        color: #000000;
        margin-bottom: 15px;
    }

    &__top-text {
        font-size: 12px;
        color: #00AB4D;
        margin-bottom: 20px;
        line-height: 15px;
    }

    &__text {
        font-size: 1em;
        line-height: 1.3;
        color: #000000;
        margin-bottom: 15px;
        font-family: DINPro;
        font-style: normal;

        span {
            font-weight: 600;
        }

        #link {
            color: #00AB4D;
        }

    }


    &__line {
        width: 100%;
        height: 0.5px;
        background-color: #00AB4D;
        margin: 25px 0px;
    }

    span {
        img {
            margin-bottom: 15px;
        }
    }

    ul {
        padding-left: 0;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            p {
                font-size: 1em;
                color: #000000;
                font-weight: 200;
            }

            img {
                padding-right: 25px;
                height: 12px;
                width: 35px;
            }
        }
    }
}

.wheel {

    :first-child {
        padding-right: 0;
    }

    :last-child {
        padding-left: 0;
    }

    :nth-child(2),
    :nth-child(3) {
        padding: 0px;
    }


    .card {
        margin-top: 50px;
        border: none;

        img {
            width: 100%;
            height: 215px;
        }

        .card-content {
            position: absolute;
            top: 0;
            padding: 25px 0px 0px 30px;
            color: #fff;

            h3 {
                font-size: 1.5em;
            }
        }

        .btn {
            display: inline-block;
            padding: 14px 22px;
            background-color: transparent;
            color: #fff;
            border: 1px solid #fff;
            transition: background-color 0.3s, color 0.3s;
            margin-top: 20px;
            font-size: 15px;
            font-family: DINPro-Bold;
            border-radius: 0px;
        }
    }

    :hover .btn {
        background-color: #fff;
        color: #000;
    }


    &__navigation {
        padding-left: 50px !important;
       
        ul {
           
            li {
                list-style: none;
                a {
                    color: #000000;
                    font-family: DinPRO;
                    img {
                        padding: 0px 25px 0px;
                        height: 12px;
                        width: 12px;
                    }
                }
            }
        }
    }

    @media screen and (max-width:1200px) {
        & {
            .card {
                .card-content {
                    padding: 20px 0px 0px 20px;

                    h3 {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    @media screen and (max-width:992px) {
        & {
            :first-child {
                padding: 0;
            }

            :last-child {
                padding: 0;
            }

            .card {
                margin-top: 0;

                .card-content {
                    padding: 25px 0px 0px 30px;

                    h3 {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}