.wheel {

    .card {
        margin-top: 50px;
        border: none;

        img {
            width: 100%;
            height: 215px;
        }

        .card-content {
            position: absolute;
            top: 0;
            padding: 25px 0px 0px 30px;
            color: #fff;

            h3 {
                font-size: 1.5em;
            }
        }

        .btn {
            display: inline-block;
            padding: 14px 22px;
            background-color: transparent;
            color: #fff;
            border: 1px solid #fff;
            transition: background-color 0.3s, color 0.3s;
            margin-top: 20px;
            font-size: 15px;
            font-family: DINPro-Bold;
            border-radius: 0px;
        }

    }

    :hover .btn {
        background-color: #fff;
        color: #000;
    }



    /* Загальні стилі для навігації */
    .navigation {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        padding-right: 16px;
    }

    /* Стилі для стовпчиків */
    .column {
        flex-basis: 25%;
        /* 4 стовпчики на комп'ютері */
    }

    /* Стилі для пунктів у стовпчиках */
    .item {
        display: flex;
        align-items: center;
        color: #000000;
        margin: 15px 0px;
        font-family: DINPro;
    }

    .item img {
        height: 12px;
        max-width: 12px;
        margin-right: 25px;
        transition: transform 0.3s ease;
    }

    .item:hover img {
        transform: translateX(5px);
        /* Зміщення картинки на 5px вправо при наведенні */
    }

    /* Стилі для інформації, що виступає 4 стовпчиком */
    .information {
        width: 32.5%;
        /* Розміщення на всю ширину контейнера */
        margin-top: 10px;
        /* Додатковий відступ від стовпчиків */

        &__tel {
            display: flex;

            &_img {
                background-image: url('/img/wheel/tel.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 40px;
                width: 40px;
                margin-right: 10px;
                transition: transform 0.3s ease;
                /* Додаємо плавну анімацію повороту */
            }

            &_info {
                font-family: DINPro;

                p {
                    font-size: 15px;
                    color: #999999;
                    margin-bottom: 0;
                }

                a {
                    font-size: 26px;
                    color: #000000;
                    text-decoration: none;
                }
            }

            /* Використовуємо :hover псевдоклас для реагування на наведення */
            &:hover {
                .information__tel_img {
                    transform: rotate(45deg);
                    /* Повертаємо картинку на 45 градусів вправо */
                }

            }
        }


        &__mail {
            display: flex;
            margin-top: 20px;

            &_img {
                background-image: url('/img/wheel/mail.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 40px;
                width: 40px;
                margin-right: 10px;
                transition: transform 0.3s ease;
            }

            &_info {
                font-family: DINPro;
                width: 200px;

                p {
                    font-size: 15px;
                    color: #999999;
                    margin-bottom: 0;
                }

                a {
                    font-size: 26px;
                    color: #000000;
                    text-decoration: none;
                    margin-right: 140px;
                }
            }

            &:hover {
                .information__mail_img {
                    transform: rotate(45deg);
                    /* Повертаємо картинку на 45 градусів вправо */
                }

            }
        }
    }


    /* Медіа-запит для планшетів та телефонів */
    @media screen and (max-width:1200px) {

        .column {
            margin-right: 50px;
        }
    }

    @media screen and (max-width:992px) {
        .navigation {
            flex-wrap: wrap;
        }

        .information {
            flex-basis: 100%;
            /* 2 стовпчики на планшеті та телефоні */
        }

        .column {
            flex-basis: 33.3%;
            margin-right: 0px;
            /* 4 стовпчики на комп'ютері */
        }
    }


    @media screen and (max-width: 768px) {
        .navigation {
            flex-wrap: wrap;
        }

        .information {
            flex-basis: 90%;
            /* 2 стовпчики на планшеті та телефоні */
        }

        .column {
            flex-basis: 50%;
            margin-right: 0;
            /* 4 стовпчики на комп'ютері */
        }
    }

    @media screen and(max-width:475px) {
        .item img {
            margin-right: 10px;
        }
    }


    @media screen and (max-width:1200px) {
        & {
            .card {
                .card-content {
                    padding: 20px 0px 0px 20px;

                    h3 {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    @media screen and (max-width:992px) {
        & {

            .card {
                margin-top: 0;

                .card-content {
                    padding: 25px 0px 0px 30px;

                    h3 {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }

    @media screen and (max-width:992px) {
        .container {
            margin: 0px;
        }
    }
}